<div class="m-3">
  {{#bs-button type="success" onClick=(action "createQuestion")}}
    Create Question
  {{/bs-button}}
</div>
<div class="mt-5 m-3">
  <h3>List of Questions</h3>
  <ul>
    {{#each model as |rec|}}
      <ul>
        <li class="col-6">
          <div class="pad-card">
            {{#link-to "questions.show" rec.id}}{{ concat rec.title }}{{/link-to}}
            <span>{{rec.language}}</span>
            {{#bs-button outline=true type="danger" onClick=(action "deleteQuestion" rec)}}
              Delete Question
            {{/bs-button}}
          </div>
        </li>
      </ul>
    {{/each}}
  </ul>
</div>