.code-editor {
  width: 60%;
  border-right: 2px gray solid;
  border-bottom: 2px gray solid;
}
.code-editor-controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.pad-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.code-output {
  width: 40%;
  vertical-align: top;
  background: aliceblue;
}
