@import "custom_theme";
@import "ember-bootstrap/bootstrap";
@import "loader";
@import "font-awesome";
@import "variables";
@import "app_load_animation";

.code-editor {
  width: 100%;
  border-right: 2px gray solid;
  border-bottom: 2px gray solid;
}
.code-editor-controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.pad-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.monokai-bg{
  background:$monokai-bg;
}

.pad-content{
  .title{
    @extend .bg-dark;
    color: $light;
    border: none;
    border-radius: 0px;
    border-bottom: gray 1px solid;
    &:focus{
      border: none;
      border-radius: 0px;
      border-bottom: $primary 1px solid;
      box-shadow: none;
    }
  }
}
.result{
  .title{
    color: $light;
    border: none;
    font-size: 1.2rem;
  }
  .output {
    overflow: scroll;
    color: $light;
  }
}
.landing{
  background: $dark;
  .title{
    color: $light;
    font-size: 4em;
  }
  .description{
    color: $light;
    font-size: .3em;
  }
}

.pointer{
  cursor: pointer;
}

.bg {
  width: 100%;
  height: 100%;
}

.question-list {
  &:hover {
    background-color: $light;
  }
}

.editor {
  line-height: 1.8;
  font-size: 14px;
}


.sticky.bottom {
  position: absolute;
  bottom: 0;
  z-index: 10;
}

.intro-section {
  color: $primary;
}
