{{!-- The following component displays Ember's default welcome message. --}}
<div class="landing p-5">
    <div class="container">
        <div class="row mb-5">
            <div class="title pt-5 pb-1 col-md-6 col-sm-12">
                We make Fries
                <div class="description">
                    Give us your code, we fry them and make it deliciuos.
                </div>
                <div class="pt-4">
                    {{#link-to 'login' class="btn btn-lg btn-primary mt-5 mb-2"}}
                    Create a Pad
                    {{/link-to}}
                </div>
            </div>
          <div class=" col-md-6 col-sm-6 align-items-end">
            <img class="bg" src="/images/bg.svg" alt="Opening Illustration">
          </div>
        </div>
    </div>
</div>

<div class="container pt-5 mt-5 intro-section">
  <h1 class='text-center'>How it Works?</h1>

  <div class="row pt-5 mt-5 pb-5">
    <div class="col-md-4 col-sm-4">
      <img src="images/todo.svg" class='bg' alt="A todo image, which represents the initial state">
    </div>
    <div class="col-md-6 col-sm-6 offset-md-2 offset-sm-2 justify-content-center">
      <h3>
        Create a PAD, with your language in mind
      </h3>
      <p>
        Write some content here Sriram
      </p>
    </div>
  </div>
  <hr>
  <div class="row pt-5 mt-5 pb-5">
    <div class="col-md-6 col-sm-6 justify-content-center">
      <h3>
        Write your code
      </h3>
      <p>
        Write some content here Sriram
      </p>
    </div>
    <div class="col-md-4 col-sm-4 offset-md-2 offset-sm-2">
      <img src="images/write.svg" class='bg' alt="A code, which represents the coding state">
    </div>
  </div>
  <hr>
  <div class="row pt-5 mt-5 pb-5">
    <div class="col-md-4 col-sm-4">
      <img src="images/wait.svg" class='bg' alt="A wait, which represents the waiting state">
    </div>
    <div class="col-md-6 offset-md-2 offset-sm-2 justify-content-center">
      <h3>
        Wait for the cooking
      </h3>
      <p>
        Write some content here Sriram
      </p>
    </div>
  </div>
  <hr>
  <div class="row pt-5 mt-5 pb-5">
    <div class="col-md-6 col-sm-6 justify-content-center">
      <h3>
        Party Now
      </h3>
      <p>
        Write some content here Sriram
      </p>
    </div>
    <div class="col-md-4 col-sm-4 offset-md-2 offset-sm-2">
      <img src="images/output.svg" class='bg' alt="A output, which represents the party state">
    </div>
  </div>
</div>