{{#bs-navbar type="dark" backgroundColor="dark" collapsed=collapsed as |navbar|}}
  <div class="navbar-header">
    {{navbar.toggle}}
    {{#link-to "index" class="navbar-brand"}}Code Fry{{/link-to}}
  </div>
  {{#navbar.content}}
    {{#navbar.nav as |nav|}}
      {{#if session.isAuthenticated}}
        {{#nav.item}}{{#nav.link-to "pads"}}Pads{{/nav.link-to}}{{/nav.item}}
        {{#nav.item onClick=(action "logout")}}Logout{{/nav.item}}
      {{else}}
        {{#nav.item}}{{#nav.link-to "login"}}Login{{/nav.link-to}}{{/nav.item}}
      {{/if}}
    {{/navbar.nav}}
  {{/navbar.content}}
{{/bs-navbar}}