{{#bs-navbar type="dark" backgroundColor="dark" collapsed=collapsed as |navbar|}}
  <div class="navbar-header">
    {{navbar.toggle}}
    {{#link-to "index" class="navbar-brand"}}Code Fry{{/link-to}}
  </div>
  {{#navbar.content}}
    {{#navbar.nav   as |nav|}}
      {{#if session.isAuthenticated}}
        {{#nav.item}}{{#nav.link-to "pads.index"}}Pads{{/nav.link-to}}{{/nav.item}}      
      {{/if}}
    {{/navbar.nav}}
  {{/navbar.content}}
  {{#if session.isAuthenticated}}
    {{#bs-button type="primary" onClick=(action "logout")}}{{fa-icon 'sign-out'}} Logout{{/bs-button}}
  {{else}}
    {{#link-to "login" class='btn btn-primary'}}{{fa-icon 'sign-in'}} Login{{/link-to}}
  {{/if}}
{{/bs-navbar}}

