{{#bs-navbar type="dark" backgroundColor="dark" collapsed=collapsed as |navbar|}}
  <div class="navbar-header">
    {{navbar.toggle}}
    {{#link-to "index" class="navbar-brand"}}Code Fry{{/link-to}}
  </div>
  {{#navbar.content}}
    {{#if session.isAuthenticated}}
      {{#navbar.nav as |nav|}}
        {{#nav.item}}{{#nav.link-to "pads"}}Pads{{/nav.link-to}}{{/nav.item}}
        {{#nav.item}}{{#nav.link-to "questions"}}Questions{{/nav.link-to}}{{/nav.item}}
      {{/navbar.nav}}
      {{#navbar.nav class="ml-auto" as |nav|}}
        {{#nav.item class="nav-link" onClick=(action "logout")}}Logout{{/nav.item}}
      {{/navbar.nav}}
    {{else}}
      {{#navbar.nav class="ml-auto" as |nav|}}
        {{#nav.item}}{{#nav.link-to "login"}}Login{{/nav.link-to}}{{/nav.item}}
      {{/navbar.nav}}
    {{/if}}
  {{/navbar.content}}
{{/bs-navbar}}